body {
  padding: 50px;
  background-color: darkslategray;
  font-family: sans-serif;
}
#container{
  display: flex;
  justify-content: center;
}
.todoTitle {
  color: #FFF;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}
button {
  background: darkslategray;
  border: none;
  font-weight: bold;
  border-radius: 2px;
  cursor: pointer;
  padding: 5px;
  color: #fff
}
button:hover {
  background: rgb(68, 112, 112);
}