.todoListMain .header input{
    padding: 10px;
    font-size: 16px;
    border: 2px solid white;
    width: 165px;
}

.todoListMain .header button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color: gray;
    color: white;
    border: 2px solid gray;
}

.todoListMain .header button:hover {
    background-color: pink;
    border: 2px solid pink;
    cursor: pointer;
}

.todoListMain .theList li {
    color: black;
    font-weight: bold;
    background-color: gray;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
    list-style: none;
    transition: background-color .2s ease-out;
}
.todoListMain .theList li:hover {
    background-color: pink;
    cursor: pointer;
}
ul.theList {
    padding: 0;
}
.todoCompleted {
    text-decoration: line-through;
}